.card-style{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:20px 70px;
    margin: 20px;
    border-radius: 5px;

}
.price{
    font-weight: bold;

}